.welcome {
    color: white;
    margin-right: 10px;
}

.wrap {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #ecf0f1;
    border-radius: 0.3rem;
}

.limit {
    max-width: 800px;
}

.logout {
    display: inline;
}

.invalid {
    color: #E74C3C;
}

.invalid-feedback {
    text-align: left;
    margin-left: 10px;
}
